/target
/db/*.sqlite
/db/*.sqlite-journal
/db/*.sqlite-wal
/docs/book
node_modules
dist
/static/haitang-cms-admin/
/static/fileicon/
/static/uploads/*
!/static/uploads/.gitkeep
!/static/uploads/seed/
!/static/uploads/seed/**
/vendor
.cursor